body {
  font-size: 20px;
}
svg {
  display: block;
  margin: auto;
  position:relative;
}

.title {
  color: #004080;
  font-size: 1.75em;
  font-weight: bold;
  text-align: center;
}

.bar {
  fill: #476482;
}

.bar:hover {
  fill: #cccccc;
  stroke: #004080;
}

.description {
  display: block;
  color: #004080;
  margin: auto;
  text-align: center;
  width: 1200px;
}

.info-background {
  stroke: #00334d;
  fill: #cccccc;
}

.info-header {
  fill: #00334d;
  font-size: 0.9em;
  font-weight: bold;
}

.info-date {
  fill: #00334d;
  font-size: 0.8em;
}

.x-axis,
.y-axis {
  font-size: 0.9em;
}

.y-label {
  fill: #004080;
  font-size: 1.2em;
}
